.task-detail-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-content: stretch;
  align-self: stretch;
}

.task-detail-header {
  border-bottom: #f6f7fb solid 2px;
  padding: 0.5em 0 0.75em 0.5em;
  margin: 0.25em 0 0.75em 0em;
  min-height: min-content;
  display: flex;
  /* justify-content: space-between; */
  align-content: flex-start;
  wrap: wrap;
  position: relative;
  flex-direction: column;
  width: 100%;
  align-items: baseline;
}

.task-detail-title {
  font-family: "Old Standard TT";
  font-size: 24px;
  display: inline;
  order: 3;
  align-self: baseline;
  align-content: flex-end;
}

.task-detail-delete-button {
  display: inline;
  align-self: baseline;
  /* flex-direction: row; */
  order: 1;
  /* float: right; */
  /* text-align: right; */
  float:left;
  padding: 0.1em 0.1em 0.1em 0.5em;
  margin-right: 0.5em;

}

.task-detail-tags {
  display: inline;
  /* flex-direction: column; */
  order: 2;
  /* float: right; */
  /* text-align: right; */
  margin-left: auto;
  float:right;
  padding: 0.1em 0.1em 0.1em 0.5em;
  margin-right: 0.5em;

}

button.edit-submit, button.edit-delete {
  font-family: "Haboro Sans";
}



.ind-tag {
  /* display: inline; */
  float:right;
  display: inline;
  font-size: 12px;
  background-color: #e4f6f6;
  color: #43cac2;
  padding: 3px 3px;
  border-radius: 3px;
  margin: 0.1em;


}

.material-icons {
  position: relative;
}

button.add-ref {
  background: white;
  border-color: white;
  color: white;
}

.add-ref {
  size: 50%;
  background-color: white;
  border: white;
}

.task-detail-description, .task-detail-date-updated, .task-detail-date-created, .task-detail-users, .task-detail-relevant-pages, .task-detail-github-branch, .task-detail-status-summary, .task-detail-details-status-updates {
  /* padding: 1em;
  font-size: 95%; */
}

.task-detail-section {
  margin: 0.5em;
  padding: 0.5em;
}

.field-name {
  font-family:"Avenir";
  font-weight: bold;
  padding: 0.25em;
  font-size: 90%;
}

.updated_at, .created_at {
  font-family: "Haboro Sans";
  font-size: 90%;
}


/* .task-detail-details-dashboard {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  height: 100%;
} */

.task-detail-details-dashboard {
  height: 100%;
  position: relative;
}



textarea {
  /* margin: 0.25em;
  width: 100%;
  resize: none; */
  /* box-sizing: border-box; */
  border: #E5E6E9 solid 1px;
  box-sizing: border-box;
  min-height: 25px;
  margin: 0.25em;
  resize: none;
  overflow: hidden;
   white-space: pre-wrap;
}

textarea.task-detail-description {
  width: 80%;
  align-items: center;

}

.task-detail-description {

  /* box-sizing: border-box; */


}

.users-edit {
  font-family: "Haboro Sans";
  font-size: 90%;
  margin: 0.35em;
}



/*
.table-header-row. .table-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 1em;
  width: 100%;
  justify-content: stretch;
  align-items: stretch;
  align-content: flex-start;
} */
