/* colors:
  light: #e4f6f6
  background-color: #2C3A51;
   */


.App {
  text-align: center;
  margin: 1em;
  font-family: "Open Sans";
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

html, body {
  width: 96%;
  height: 100%;
  position: relative;
  margin: -0.5em;
}

body {
  padding: 1em;
  font-family: "Khula";
}

.header, .header-logo, .header-nav, .header-cell {
  font-family: "Khula";
  font-weight: 600;

}



.header-logo {
  font-weight: bold;
  font-size: 30px;
}

.header-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: #2C3A51;
  margin: -0.5em -1em;
  width: 106%;
  padding: 1em;
  position: absolute;
}

.header-logo {
  display: inline-flex;
  justify-content: flex-start;
  font-weight: 700;
}

.header-links {
  display: inline-flex;
  justify-content: flex-end;
}

.header-links span {
  padding: 1em;
  justify-content: flex-end;
}

.team-task-container {
  display: flex;
  wrap: nowrap;
  width: 100%;
  justify-content: flex-start;
}

.section-1 {
  flex-basis: 22%;
  text-align: left;
  background-color: #2C3A51;
  width: 100%;
  padding: 0.25em;
}

.section-2 {
  flex-basis: 38%;
  text-align: left;
  padding: 0.25em;
  width: 100%;
}

.section-3 {
  flex-basis: 40%;
  text-align: left;
  padding: 0.25em;
  width: 100%;
  border-left: #f6f7fb solid 2px;
}

.task-list-item {
  padding: 1em 0.5em;
  font-size: 95%;
  border-bottom: #f6f7fb solid 2px;
  min-height: 40px;
}

.task-list-item-title, .task-list-item-tags-section {
  display: inline;
}

.task-list-item-title {
  float: left;
}

.task-list-item-tags-section {
  float:right;

}

.task-detail-item-tag {
  font-size: 4px;
  padding: 3px 1px;
  border-radius: 3px;
  background-color: #4C648C;
  color: white;
}



/*
.table-header-row. .table-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 1em;
  width: 100%;
  justify-content: stretch;
  align-items: stretch;
  align-content: flex-start;
} */
