/* colors:
grey: #f6f7fb
  lightest turquoise: #e4f6f6
  lighter turquoise: #caedf2
  turquoise: #43cac2
  background-color: #2C3A51;
   */

  @import 'web-fonts.css';

.App {
  text-align: center;
  margin: 0em;
  font-family: "SamoSans-Regular";
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

html, body {

  height: 100%;
  position: relative;
  margin: 0em;


}

html {
  width: 100%;
}

body {
  width: 100%;
  padding: 0.5em;
  font-family: "SamoSans-Regular";
  /* overflow-x: hidden; */
  background-size: cover;
}

.header, .header-logo, .header-nav, .header-cell {
  font-family: "SamoSans-Regular";
  font-weight: 600;

}



.header-logo {
  font-weight: bold;
  font-size: 30px;
}

.header-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: #2C3A51;
  margin: -0.5em -1em;
  width: 106%;
  padding: 1em;
  position: absolute;
}

.header-logo {
  display: inline-flex;
  justify-content: flex-start;
  font-weight: 700;
}

.header-links {
  display: inline-flex;
  justify-content: flex-end;
}

.header-links span {
  padding: 1em;
  justify-content: flex-end;
}

.team-task-container {
  /* display: flex;
  wrap: nowrap;
  width: 100%;
  position: relative;
  height: 100%; */
  display: flex;
  overflow: hidden;
  height: 100vh;
/* margin-top: -100px;
padding-top: 100px; */
position: absolute;
width: 100%;
backface-visibility: hidden;
will-change: overflow;
}

.section1 .section2 .section3 {
  /* overflow-y: auto;
  height: auto;
  padding: .5rem; */
}
/*
.team-task-container  > * {
  flex: 1 1 auto;
  overflow: scroll;
  flex-direction: column;

  width: 100%;
} */

.section-1 {
  flex-basis: 18%;
  text-align: left;
  background-color: #2C3A51;
  padding: 0.25em;
  overflow-y: auto;
  overflow-x: hidden;
  height: auto;
  padding: .5rem;
}

.section-2 {
  flex-basis: 34%;
  text-align: left;
  padding: 0.25em;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  height: auto;
  padding: .5rem;
}

.task-list {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* min-height: min-content; */
  /* display: flex; */
  /* flex-direction: column; */
  /* overflow-y: auto; */
  /* vertical-align: baseline; */
}

.section-3 {
  flex-basis: 46%;
  text-align: left;
  align-items: stretch;
  padding: 0.25em;
  border-left: #f6f7fb solid 2px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
  /* overflow-y: auto; */
  height: auto;
  padding: .5rem;
  height: 100%;
  position: relative;
  width: 100%;
  /* justify-content: stretch; */
}

.task-list-item {
  padding: 1em 0.5em;
  font-size: 95%;
  border-bottom: #f6f7fb solid 2px;
  min-height: 40px;
}


.task-list-item-title, .task-list-item-tags-section {
  display: inline;
}

.task-list-item-title {
  float: left;
}

.task-list-item-tags-section {
  float:right;

}
