/* colors:
grey: #f6f7fb
  lightest turquoise: #e4f6f6
  lighter turquoise: #caedf2
  turquoise: #43cac2
  background-color: #2C3A51;
   */


.App {
  text-align: center;
  margin: 1em;
  font-family: "Open Sans";
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

html, body {

  height: 100%;
  position: relative;
  margin: -0.5em;
}

html {
  width: 96%;
}

body {
  width: 97%;
  padding: 0.5em;
  font-family: "Khula";
  overflow-x: hidden;
}

.header, .header-logo, .header-nav, .header-cell {
  font-family: "Khula";
  font-weight: 600;

}



.header-logo {
  font-weight: bold;
  font-size: 30px;
}

.header-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: #2C3A51;
  margin: -0.5em -1em;
  width: 106%;
  padding: 1em;
  position: absolute;
}

.header-logo {
  display: inline-flex;
  justify-content: flex-start;
  font-weight: 700;
}

.header-links {
  display: inline-flex;
  justify-content: flex-end;
}

.header-links span {
  padding: 1em;
  justify-content: flex-end;
}

.team-task-container {
  display: flex;
  wrap: nowrap;
  width: 100%;
  justify-content: flex-start;
}

.section-1 {
  flex-basis: 22%;
  text-align: left;
  background-color: #2C3A51;
  width: 100%;
  padding: 0.25em;
}

.section-2 {
  flex-basis: 38%;
  text-align: left;
  padding: 0.25em;
  width: 100%;
}

.section-3 {
  flex-basis: 38%;
  text-align: left;
  padding: 0.25em;
  width: 100%;
  border-left: #f6f7fb solid 2px;
  position: relative;
}

.task-list-item {
  padding: 1em 0.5em;
  font-size: 95%;
  border-bottom: #f6f7fb solid 2px;
  min-height: 40px;
}

.task-list-item-title, .task-list-item-tags-section {
  display: inline;
}

.task-list-item-title {
  float: left;
}

.task-list-item-tags-section {
  float:right;

}

.task-detail-container {
  position: relative;
  width: 104%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.task-detail-header {
  border-bottom: #f6f7fb solid 2px;
  padding: 0.5em 0 0.5em 0.5em;
  margin: 0.25em 0 0.25em 0.25em;
  display: flex;
  justify-content: space-between;
  /* wrap: wrap; */
  position: relative;
  flex-direction: row;
  width: 105%;
  align-items: center;
}

.task-detail-title {
  font-family: "Old Standard TT";
  font-size: 24px;
  display: inline;

}

.task-detail-tags {
  display: inline;
  /* float: right; */
  /* text-align: right; */
  margin-left: auto;
  float:right;
  padding: 0.1em 0.1em 0.1em 0.5em;

}

.ind-tag {
  /* display: inline; */
  float:right;
  display: inline;
  font-size: 12px;
  background-color: #e4f6f6;
  color: #43cac2;
  padding: 3px 3px;
  border-radius: 3px;


}

.material-icons {
  position: relative;
}



.task-detail-item-tag {
  font-size: 4px;
  padding: 3px 1px;
  border-radius: 3px;
  background-color: #4C648C;
  color: white;
}



/*
.table-header-row. .table-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 1em;
  width: 100%;
  justify-content: stretch;
  align-items: stretch;
  align-content: flex-start;
} */
